{% extends 'base.html' %}

{% block conteudo %}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">{{ titulo }}</h1>
        <p class="lead">Bem-vindo ao Gestor de Produtos! Aqui você pode criar, editar, visualizar e deletar produtos.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ url_for('listar_produtos') }}" role="button">Ver Produtos</a>
        <a class="btn btn-success btn-lg" href="{{ url_for('cadastrar_produto') }}" role="button">Criar Produto</a>
    </div>

    <div class="container mt-5 text-center">
        <h2>Últimos Produtos</h2>
        <div id="produtos-cards" class="row row-cols-1 row-cols-md-3 g-4 mt-4"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/produtos.js') }}"></script>
{% endblock %}
